<h2>Your Cart</h2>
<h2>Total: ${{this.totalPrice.toFixed(2)}}</h2>
<button mat-flat-button>Checkout</button>

<ul class="cart">
    <mat-grid-list cols="1" rowHeight="2:1">  
      <mat-grid-tile *ngFor="let item of cart">
        <div class="card">
          <img [src]=item.imgsrc>
          <p>{{item.name}}</p>
          <p class="price">${{item.price}}</p>
          <p>Size: {{item.size}}</p>
          <button mat-flat-button (click)="removeItem(item)">Remove</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </ul>