<h2>What are you looking for today?</h2>
<mat-grid-list cols="2" rowHeight="400px">  
    <nav>
        <mat-grid-tile>
            <a routerLink="/clothing">
                <img src="assets/images/shirtshome.jpeg">
                <mat-grid-tile-footer routerLink="/clothing"><h3 >Clothing</h3></mat-grid-tile-footer>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a routerLink="/shoes">
                <img src="assets/images/shoeshome.jpeg"/>
                <mat-grid-tile-footer routerLink="/shoes"><h3 >Shoes</h3></mat-grid-tile-footer>  
            </a>
        </mat-grid-tile>
      </nav>
    <router-outlet></router-outlet>
</mat-grid-list>

